:root {
  --main-color: #e2151d;
  --sub-color1: #ff3139;
}

/* header height */
.contents {margin-top: 100px; padding-bottom: 155px;}

/* UI */
.highlight {color: var(--main-color);}
.highlight2 {color: var(--sub-color1);}

.i-arrow-btn01 {display: flex; justify-content: space-between; align-items: center; width: 220px; height: 58px; line-height: 58px; padding: 0 30px; border: 1px solid rgba(255,255,255,0.7); border-radius: 30px; font-size: 18px; font-weight: 600; color: #fff; transition: 0.3s ease-in-out;}
.i-arrow-btn01 .icon {width: 11px;}
.i-arrow-btn01:hover {border-color: var(--main-color) !important; background-color: var(--main-color) !important; color: #fff !important;}

.tabs {display: flex; flex-flow: row wrap; align-items: center; gap: 10px 25px;}
.tabs-btn {position: relative; border: 0; font-size: 20px; font-weight: 400; color: #999; line-height: 1.3; background: none;}
.tabs-btn:hover {color: var(--main-color);}
.tabs-btn.on {font-weight: 500; color: var(--main-color);}
.tabs-btn.on:after {content: ""; display: block; position: absolute; bottom: -6px; left: 0; z-index: 1; width: 100%; height: 2px; background-color: var(--main-color);}

.tabs.tabs2 {display: flex; flex-flow: row wrap; align-items: center; gap: 6px;}
.tabs.tabs2 .tabs-btn {display: block; position: relative; min-width: 180px; height: 52px; border: 1px solid rgba(255,255,255,0.7); border-radius: 10px; font-size: 18px; font-weight: 400; color: #fff; line-height: 52px; background: none;}
.tabs.tabs2 .tabs-btn:after {display: none !important;}
.tabs.tabs2 .tabs-btn.on {border-color: var(--main-color); background-color: var(--main-color);}

/* Main(메인) */
.main-visual-container {overflow: hidden;}
.main-visual-wrapper {position: relative; z-index: 100;}

.main-visual-control {position: absolute; bottom: 120px; left: 0; z-index: 100; width: 100%;}
.main-visual-control_inner {display: flex; flex-flow: row wrap; align-items: center;}
.main-visual-control .swiper-pagination {position: inherit; transform: none; z-index: inherit; width: auto; min-width: 35px; font-size: 16px; font-weight: 500; color: #ddd; text-align: left;}
.main-visual-control .swiper-pagination-current {font-size: 16px; font-weight: 700; color: #fff;}
.main-visual-control .swiper-pagination-total {}
.main-visual-control .main-visual-time {width: 150px; margin: 0 12px;}
.main-visual-control .main-visual-time .bar {position: relative; width: 100%; height: 2px; background: #fff;}
.main-visual-control .main-visual-time .bar span {display: block; position: absolute; top: 0; left: 0; z-index: 10; width: 0; height: 100%; background-color: var(--sub-color1);}
.main-visual-control .main-visual-stop {width: 10px; border: 0; background: none;}
.main-visual-control .main-visual-play {width: 10px; margin-left: 12.5px; border: 0; background: none;}

.main-visual_ct {padding-top: 200px;}
.main-visual-stxt {margin-bottom: 20px; font-size: 24px; font-weight: 700; color: #fff; line-height: 1.25;}
.main-visual-btxt {font-size: 88px; font-weight: 300; color: #fff; line-height: 1;}
.main-visual-btxt .highlight {font-weight: 700; color: var(--sub-color1);}

.main-visual-item {height: 750px;}
.main-visual-item.item1 {background: url('/source/img/main-vs1-bg.jpg') no-repeat center/cover;}
.main-visual-item.item2 {background: url('/source/img/main-vs2-bg.jpg') no-repeat center/cover;}
.main-visual-item.item3 {background: url('/source/img/main-vs3-bg.jpg') no-repeat center/cover;}

.main_sec-top {position: relative;}
.main_sec-subtitle1 {margin-bottom: 7px; font-size: 20px; font-weight: 600; color: var(--main-color);}
.main_sec-title1 {font-size: 64px; font-weight: 300; color: #0f0f0f;}
.main_sec-title1 .highlight {font-weight: 700;}
.main_sec-expl1 {margin-top: 20px; font-size: 18px; font-weight: 300; color: #666; line-height: 1.555;}

.main_sec-title2 {font-size: 48px; font-weight: 300; color: #0f0f0f; line-height: 1.2;}
.main_sec-title2 b {font-size: 700px;}

.main-product {padding: 130px 0 140px;}
.main-product_wrap {display: flex; flex-flow: row wrap; align-items: center; gap: 30px; margin-top: 50px;}
.main-product-item {overflow: hidden; position: relative; flex: 1; height: 570px; padding: 36px 46px 0; border-radius: 10px; background: #fff; box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);}
.main-product-item:after {content: ""; display: none; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; border: 2px solid var(--main-color); border-radius: 10px; box-sizing: border-box;}
.main-product-item:nth-child(1) {background: url('/source/img/main-prod-esis3000_bg.png') no-repeat bottom center/contain;}
.main-product-item:nth-child(2) {background: url('/source/img/main-prod-iim2010_bg.png') no-repeat bottom center/contain;}
.main-product-item:nth-child(3) {background: url('/source/img/main-prod-other_bg.png') no-repeat bottom center/contain;}
.main-product-item .more {display: block; position: absolute; top: 47px; right: 43px; z-index: 1; width: 13px; height: 23px; background: url('/source/img/arrow-right-gray.png') no-repeat center/contain;}
.main-product-item .ctg_name {font-size: 36px; font-weight: 600; color: #0f0f0f; line-height: 1.222;}
.main-product-item .ctg_expl {margin-top: 15px; font-size: 16px; font-weight: 400; color: #666;}
.main-product-item .ctg_img {margin-top: 30px; text-align: center;}
.main-product-item:nth-child(1) .ctg_img {margin-top: 88px;}
.main-product-item:nth-child(2) .ctg_img {margin-top: 74px;}

.main-product-item:hover:after {display: block;}
.main-product-item:nth-child(1):hover {background: url('/source/img/main-prod-esis3000_over_bg.png') no-repeat bottom center/contain;}
.main-product-item:nth-child(2):hover {background: url('/source/img/main-prod-iim2010_over_bg.png') no-repeat bottom center/contain;}
.main-product-item:nth-child(3):hover {background: url('/source/img/main-prod-other_over_bg.png') no-repeat bottom center/contain;}
.main-product-item:hover .more {background: url('/source/img/arrow-right-red.png') no-repeat center/contain;}
.main-product-item:hover .ctg_name {color: var(--main-color);}
.main-product-item:hover .ctg_expl {font-weight: 500; color: #333;}

.main-contact {position: relative; height: 500px;}
.main-contact_box {height: 400px; position: absolute;}
.main-contact_lt {top: 0; left: 0; z-index: 20; width: calc(50% + 10px); border-radius: 0 200px 200px 0; background: url('/source/img/main-contact-introd-bg.jpg') no-repeat center/cover;}
.main-contact_rt {top: 100px; right: 0; z-index: 10; width: calc(50% + 90px); border-radius: 200px 0 0 200px; background: url('/source/img/main-contact-inquiry-bg.jpg') no-repeat center/cover;}
.main-contact_ct {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;}
.main-contact_ct_inner {width: 100%; padding: 0 5% 0 20%;}
.main-contact-title {font-size: 20px; font-weight: 600; color: #fff;}
.main-contact-expl {margin: 13px 0 34px; font-size: 42px; font-weight: 300; color: #fff;}
.main-contact-expl b {font-weight: 700;}

.main-board {margin-top: 88px;}
.main-boarad-tabs {margin-top: 30px;}
.main-board .i-arrow-btn01 {position: absolute; bottom: -6px; right: 0; z-index: 10; color: #999; border-color: rgba(153,153,153,0.7);}
.main-board .i-arrow-btn01 .icon {width: 11px; height: 19px; background: url('/source/img/arrow-right-gray.png') no-repeat center/contain; transition: 0.3s;}
.main-board .i-arrow-btn01:hover .icon {background: url('/source/img/arrow-right-white.png') no-repeat center/contain;}

.main-board_wrap {position: relative; display: flex; flex-flow: row wrap; margin-top: 42px; border-radius: 5px; box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);}
.main-board_wrap .swiper-button-prev {width: 37px; height: 37px; position: absolute; top: 50%; left: -4%; z-index: 50; margin-top: -18.5px; border: 1px solid #bbb; border-radius: 50%; background: #fff;}
.main-board_wrap .swiper-button-prev:after {display: none;}
.main-board_wrap .swiper-button-prev img {width: 10px;}
.main-board_wrap .swiper-button-next {width: 37px; height: 37px; position: absolute; top: 50%; right: -4%; z-index: 50; margin-top: -18.5px; border: 1px solid #bbb; border-radius: 50%; background: #fff;}
.main-board_wrap .swiper-button-next:after {display: none;}
.main-board_wrap .swiper-button-next img {width: 10px;}

.main-board_box {width: 50%;}
.main-board_lt {}
.main-board-wrapper {overflow: hidden;}
.main-board_ct_inner {height: 250px; padding: 40px 50px;}
.board-ctg {display: inline-block; padding: 6px 10px; font-size: 16px; font-weight: 400; color: var(--main-color); line-height: 1.25; border: 1px solid var(--main-color); border-radius: 5px;}
.board-subj {display: block; padding: 13px 0 8px; font-size: 26px; font-weight: 500; color: #333; line-height: 1.3;}
.board-expl {font-size: 16px; font-weight: 300; color: #666; line-height: 1.625;}
.board-date {margin-top: 25px; font-size: 14px; font-weight: 400; color: #999; line-height: 1;}

.main-board_rt {background: url('/source/img/main-board-img.jpg') no-repeat center/cover;}

.main-banner_box {overflow: hidden; display: flex; flex-direction: column; justify-content: center; position: relative; margin-top: 67px; padding: 59px 87px 79px; border-radius: 5px;}
.main-banner-company {background: url('/source/img/main-company-banner-bg.jpg') no-repeat center/cover;}
.main-banner-business {background: url('/source/img/main-business-banner-bg.jpg') no-repeat center/cover;}
.main-banner_ct_inner {width: 50%;}
.banner-title {font-size: 20px; font-weight: 600; color: var(--sub-color1); line-height: 1.5;}
.banner-subtitle {margin: 7px 0 23px 0; font-size: 40px; font-weight: 300; color: #fff; line-height: 1.25;}
.banner-subtitle b{font-weight: 700;}
.banner-expl {font-size: 16px; font-weight: 300; color: #fff; line-height: 1.625;}
.main-banner-prod {position: absolute; top: 50%; right: 56px; z-index: 1; transform: translateY(-50%); max-width: 50%;}

/* Sub(서브) */
.sb_top {overflow: hidden; width: 100%;}
.sb_top_ct {display: flex; flex-flow: column wrap; align-items: flex-start; justify-content: flex-end; height: 450px; padding-bottom: 60px;}
.sb_top.introduce_top {background: url('/source/img/sb-top-bg-introduce.jpg') no-repeat center/cover;}
.sb_top.product_top {background: url('/source/img/sb-top-bg-product.jpg') no-repeat center/cover;}
.sb_top.cs_top {background: url('/source/img/sb-top-bg-cs.jpg') no-repeat center/cover;}
.sb_top.employ_top {background: url('/source/img/sb-top-bg-employ.jpg') no-repeat center/cover;}
.sb_title {font-size: 55px; font-weight: 700; color: #fff; line-height: 1;}

.sb_2menus {margin-top: 40px;}
.sb_2menus_wrap {display: flex; flex-flow: row wrap; align-items: center; gap: 10px 60px;}
.sb_2menus_wrap > li {}
.sb_2menus_wrap > li > a {display: block; padding-bottom: 4px; font-size: 18px; font-weight: 500; color: #fff; line-height: 1.45;}
.sb_2menus_wrap > li.act > a {font-weight: 700; color: var(--sub-color1); border-bottom: 2px solid var(--sub-color1);}

#sb-contents {margin-top: 120px;}

.sb_top-title-text1 {font-size: 50px; font-weight: 300; color: #0f0f0f; line-height: 1.24;}
.sb_top-title-text1 b {font-weight: 700;}
.sb_top-title-text2 {margin-top: 18px; font-size: 20px; font-weight: 300; color: #666; line-height: 1.6;}
.sb_top-title-text2 b {font-weight: 500;}

.board-top .sec_ct {display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;}
.board-top .sch_wrap {display: flex; flex-flow: row wrap; align-items: center; position: relative; max-width: 100%; height: 52px; border: 1px solid #eee; border-radius: 10px;}
.board-top .sch-select {display: flex; align-items: center; width: 160px; height: 100%; padding-left: 20px; padding-right: 25px; border: 0; border-radius: 10px 0 0 10px; font-size: 16px; font-weight: 400; color: #666;}
.board-top .sch-keyword {width: 338px; height: 100%; padding: 0 50px 0 20px; border: 0; border-radius: 0 10px 10px 0; font-size: 16px; font-weight: 300; color: #0f0f0f;}
.board-top .sch-keyword::placeholder {color: #999;}
.board-top .sch-keyword:focus {width: 400px; border: 0 !important; box-shadow: none !important; background: #f9f9f9;}
.board-top .sch-submit {position: absolute; top: 6px; right: 7px; z-index: 10; width: 40px; height: 40px; border: 0; border-radius: 10px; background: #bbb url('/source/img/search-icon-white.png') no-repeat center/19px auto;}
.board-top .sch-keyword:focus + .sch-submit,
.board-top .sch-submit:focus,
.board-top .sch-submit:hover {background-color: var(--main-color);}
.board-top .write-btn {min-width: 150px; height: 52px; line-height: 52px; border-radius: 26px; font-size: 18px; font-weight: 400; color: #fff; background-color: var(--sub-color1); text-align: center;}

.board-list {margin-top: 18px;}

.textType-a .board-list-item {display: flex; flex-flow: row wrap; align-items: center; overflow: hidden; position: relative; margin-top: 10px; padding: 39px 0; border-radius: 10px; background-color: #fff; transition: 0.3s;}
.textType-a .board-list-item:first-child {margin-top: 0;}
.textType-a .board-list-item:after {content: ""; display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; border: 1px solid #eee; border-radius: 10px;}
.textType-a .board-list-item .num {flex: 0 0 112px; position: relative; z-index: 2; border-right: 2px solid #eee; text-align: center; font-size: 18px; font-weight: 400; color: #999;}
.textType-a .board-list-item .subj {flex: 1 0 auto; position: relative; z-index: 2; width: calc(100% - 302px); padding-left: 30px; font-size: 18px; font-weight: 400; color: #0f0f0f;}
.textType-a .board-list-item .date {flex: 0 0 190px; position: relative; z-index: 2; text-align: center;}
.textType-a .board-list-item .date-text {font-size: 16px; font-weight: 400; color: #999;}
.textType-a .board-list-item .more-btn {display: none; font-size: 16px; font-weight: 400; color: var(--main-color);}
.textType-a .board-list-item .more-btn img {width: 10px; margin: -4px 0 0 10px; vertical-align: middle;}
.textType-a .board-list-item:hover {box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);}
.textType-a .board-list-item:hover:after {border: 2px solid var(--main-color);}
.textType-a .board-list-item:hover .subj {color: var(--main-color);}
.textType-a .board-list-item:hover .date-text {display: none;}
.textType-a .board-list-item:hover .more-btn {display: block;}

.pg_wrap {display: block; float: none; margin-top: 22px; clear: both; text-align: center;}
.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""} 
.pg {text-align: center;}
.pg_page, .pg_current {display:inline-block;vertical-align:middle;background:none;border:0;margin:0 15px;}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {font-size:20px; font-weight: 400; color: #999; height:44px; line-height:44px; padding:0; min-width:auto; text-decoration:none; border-radius:50%;}
.pg_current {display:inline-block; background:none; border:0; color:var(--main-color); font-size:20px; font-weight:500; height:44px; line-height:44px; padding:0; min-width:auto; border-radius:0}
.pg_page:hover {background-color: #fff;}
.pg_start {width: 44px; text-indent:-999px;overflow:hidden;background:#fff url('/source/img/arrow-left-gray.png') no-repeat center/10px auto;padding:0;border:1px solid #ddd; margin: 0 10px;}
.pg_prev {width: 44px; text-indent:-999px;overflow:hidden;background:#fff url('/source/img/arrow-left-gray.png') no-repeat center/10px auto;padding:0;border:1px solid #ddd;}
.pg_end {width: 44px; text-indent:-999px;overflow:hidden;background:#fff url('/source/img/arrow-right-gray.png') no-repeat center/10px auto;padding:0;border:1px solid #ddd; margin: 0 10px;}
.pg_next {width: 44px; text-indent:-999px;overflow:hidden;background:#fff url('/source/img/arrow-right-gray.png') no-repeat center/10px auto;padding:0;border:1px solid #ddd;}
.pg_start:hover {background:#fff url('/source/img/arrow-left-red.png') no-repeat center/10px auto; border-color: var(--main-color);}
.pg_prev:hover {background:#fff url('/source/img/arrow-left-red.png') no-repeat center/10px auto; border-color: var(--main-color);}
.pg_end:hover {background:#fff url('/source/img/arrow-right-red.png') no-repeat center/10px auto; border-color: var(--main-color);}
.pg_next:hover {background:#fff url('/source/img/arrow-right-red.png') no-repeat center/10px auto; border-color: var(--main-color);}

/* 위스팩소개 */
/* > 회사소개 */
.aboutus-slo {display: flex; flex-flow: row wrap; align-items: flex-start; gap: 20px; margin-top: 48px;}
.aboutus-slo-item {overflow: hidden; width: calc(25% - 15px); padding: 35px 23px; border-radius: 10px; background: #fff; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);}
.aboutus-slo-text1 {position: relative; font-size: 22px; font-weight: 500; color: #0f0f0f; line-height: 1.273;}
.aboutus-slo-text1:before {content: ""; display: block; position: absolute; top: 4px; left: -23px; z-index: 1; width: 4px; height: 21px; background-color: var(--main-color);}
.aboutus-slo-text2 {margin-top: 8px; font-size: 16px; font-weight: 300; color: #666; line-height: 1.5;}

.aboutus-tab {margin-top: 130px; padding-top: 95px; height: 400px; background: url('/source/img/aboutus-tab-bg.jpg') no-repeat center/cover;}
.aboutus-tab-text1 {font-size: 50px; font-weight: 200; color: #fff;}
.aboutus-tab-text1 b {font-size: 60px; font-weight: 700;}
.aboutus-pg-tabs {margin-top: 60px;}
.aboutus-tab-ct {display: none;}
.aboutus-tab-ct.on {display: block;}
.aboutus-tab-ct .sec_ct {margin-top: 100px;}

.vision_text1 {font-size: 50px; font-weight: 700; color: #0f0f0f; line-height: 1;}
.vision_text2 {margin-top: 30px; font-size: 20px; font-weight: 300; color: #666; line-height: 1.6;}
.vision_text2 b {font-weight: 500;}

.vision-slo {display: flex; flex-flow: row wrap; align-items: flex-start; gap: 30px; margin-top: 60px;}
.vision-slo-item {display: flex; flex-direction: column; justify-content: center; overflow: hidden; position: relative; width: calc(33.333% - 20px); min-height: 240px; padding: 20px; border-radius: 120px; background: #fff; text-align: center;}
.vision-slo-item:after {content: ""; display: block; position: absolute; top: 15px; left: 15px; z-index: 10; width: calc(100% - 30px); height: calc(100% - 30px); border: 2px dashed #fff; border-radius: 105px; opacity: 0.2;}
.vision-slo-item.item1 {background: url('/source/img/vision-slo-bg1.jpg') no-repeat center/cover;}
.vision-slo-item.item2 {background: url('/source/img/vision-slo-bg2.jpg') no-repeat center/cover;}
.vision-slo-item.item3 {background: url('/source/img/vision-slo-bg3.jpg') no-repeat center/cover;}
.vision-slo-text1 {font-size: 26px; font-weight: 600; color: var(--sub-color1); line-height: 1.153;}
.vision-slo-text2 {margin-top: 15px; font-size: 16px; font-weight: 300; color: #fff; line-height: 1.5;}