#header {position: fixed; top: 0; left: 0; z-index: 500; width: 100%; border-bottom: 1px solid #ddd; background-color: #fff;}
#hd_top-inner {position: relative; z-index: 50; height: 100px;}
#hd_top-inner {display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between;}
#hd_top-inner .hd-logo {width: 178px;}

#hd_top-inner .gnb {position: absolute; top: 50%; left: 50%; z-index: 10; transform: translate(-50%, -50%);}
#hd_top-inner .gnb-dep1 {display: flex; flex-flow: row wrap; align-items: center; justify-content: center; gap: 0 100px;}
#hd_top-inner .gnb-dep1 > li {position: relative;}
#hd_top-inner .gnb-dep1 > li > a {display: block; font-size: 20px; font-weight: 500; color: #0f0f0f; line-height: 100px;}

#hd_top-inner .gnb-dep2 {position: absolute; top: 101px; left: -34px; z-index: 100; min-width: 200px; padding: 17px 10px 17px 34px; border-radius: 0 0 10px 10px; background-color: #f9f9f9; overflow: hidden; opacity: 0; visibility: hidden; transition: 0.3s;}
#hd_top-inner .gnb-dep2 > li {}
#hd_top-inner .gnb-dep2 > li > a {display: block; font-size: 20px; font-weight: 400; color: #333; line-height: 2;}
#hd_top-inner .gnb-dep2 > li > a:hover {color: var(--sub-color1)}

#hd_top-inner .gnb-dep1 > li:hover .gnb-dep2 {opacity: 1; visibility: visible;}

#hd_top-inner .hd-sub {display: flex; flex-flow: row wrap; align-items: center; justify-content: center; gap: 0 27px;}
#hd_top-inner .lang-sel {height: 40px; padding-left: 14px; padding-right: 30px; font-size: 16px; font-weight: 400; color: #fff; background-color: #333;}
#hd_top-inner .lang-sel:after {width: 12px; height: 7px; background: url('/source/img/arrow-down-white.png') no-repeat center/contain;}
#hd_top-inner .lang-sel .current {font-size: 16px; font-weight: 400; color: #fff;}
.nice-select.lang-sel .list {background-color: #666;}
.nice-select.lang-sel .option:hover,
.nice-select.lang-sel .option.focus,
.nice-select.lang-sel .option.selected.focus {
  background-color: var(--main-color);
}

#hd_top-inner .all_menu-btn {display: block; position: relative; width: 23px; height: 20px; border: 0; background: none; font-size: 0; text-align: right;}
#hd_top-inner .all_menu-btn span {display: inline-block; height: 2px; background-color: #222; transition: 0.3s;}
#hd_top-inner .all_menu-btn span:nth-child(1) {width: 100%;}
#hd_top-inner .all_menu-btn span:nth-child(2) {width: calc(100% - 6px); margin: 6px 0;}
#hd_top-inner .all_menu-btn span:nth-child(3) {width: 100%;}

#hd_top-inner .all_menu-btn.act span {background-color: #fff;}
#hd_top-inner .all_menu-btn.act span:nth-child(1) {transform: rotate(45deg) translate3d(1px, 2px, 0);}
#hd_top-inner .all_menu-btn.act span:nth-child(3) {transform: rotate(-45deg) translate3d(-0.5px, -0.5px, 0);}
#hd_top-inner .all_menu-btn.act span:nth-child(2) {display: none;}

#hd_top-inner .mobile_menu-btn {display: none; position: relative; width: 23px; height: 20px; border: 0; background: none; font-size: 0; text-align: right;}
#hd_top-inner .mobile_menu-btn span {display: inline-block; height: 2px; background-color: #222; transition: 0.3s;}
#hd_top-inner .mobile_menu-btn span:nth-child(1) {width: 100%;}
#hd_top-inner .mobile_menu-btn span:nth-child(2) {width: calc(100% - 6px); margin: 6px 0;}
#hd_top-inner .mobile_menu-btn span:nth-child(3) {width: 100%;}

#hd_top-inner .mobile_menu-btn.act span {background-color: #fff;}
#hd_top-inner .mobile_menu-btn.act span:nth-child(1) {transform: rotate(45deg) translate3d(1px, 2px, 0);}
#hd_top-inner .mobile_menu-btn.act span:nth-child(3) {transform: rotate(-45deg) translate3d(-0.5px, -0.5px, 0);}
#hd_top-inner .mobile_menu-btn.act span:nth-child(2) {display: none;}

#header.act {border: 0; background-color: #333;}
#header.act .gnb {display: none;}

#all_menu {display: none; position: fixed; top: 0; left: 0; z-index: 450; width: 100%; background-color: #333;}
#all_menu.act {display: block;}

#all_menu .all_menu_ct {display: flex; flex-flow: row wrap; justify-content: center; align-content: center; align-items: flex-start; height: 100vh;}
#all_menu .all_menu-nav {width: 25%; padding: 0 10px 0 40px; border-left: 1px solid #ddd; transform: translate3d(0, 20px, 0); opacity: 0;}
#all_menu .all_menu-nav:nth-child(1) {padding-left: 0; border-left: 0; transition: all 0.5s;}
#all_menu .all_menu-nav:nth-child(2) {transition: all 0.5s 0.2s;}
#all_menu .all_menu-nav:nth-child(3) {transition: all 0.5s 0.4s;}
#all_menu .all_menu-nav:nth-child(4) {transition: all 0.5s 0.6s;}
#all_menu .all_menu-nav.act {transform: translate3d(0,0,0); opacity: 1;}

#all_menu .all_menu-dep1 {}
#all_menu .all_menu-dep1 > li {}
#all_menu .all_menu-dep1 > li > a {display: block; font-size: 40px; font-weight: 700; color: #fff;}

#all_menu .all_menu-dep2 {padding-top: 14px;}
#all_menu .all_menu-dep2 > li {margin-top: 14px;}
#all_menu .all_menu-dep2 > li > a {display: block; padding: 7px 0; font-size: 20px; font-weight: 500; color: #bbb; transition: 0.3s;}

#all_menu .all_menu-dep3 {padding-bottom: 5px;}
#all_menu .all_menu-dep3 > li {}
#all_menu .all_menu-dep3 > li > a {display: block; position: relative; padding: 2px 0 2px 22px; font-size: 16px; font-weight: 400; color: #bbb; transition: 0.3s;}
#all_menu .all_menu-dep3 > li > a:before {content: ""; display: block; position: absolute; top: 9px; left: 9px; z-index: 1; width: 3px; height: 3px; border-radius: 50%; background-color: #bbb; transition: 0.3s;}

#all_menu .all_menu-dep2 > li:hover > a {color: var(--sub-color1);}
#all_menu .all_menu-dep3 > li:hover > a {color: var(--sub-color1);}
#all_menu .all_menu-dep3 > li:hover > a:before {background-color: var(--sub-color1);}

#mobile_menu {display: none; position: fixed; top: 0; left: 0; z-index: 450; width: 100%; background-color: #333;}
#mobile_menu.act {display: block;}

#mobile_menu .mobile_menu_ct {overflow-y: auto; height: 100vh; padding: 100px 0;}
#mobile_menu .mobile_menu-nav {padding: 10px 0; border-top: 1px solid #5a5a5a;}
#mobile_menu .mobile_menu-nav:first-child {border-top: 0;}

#mobile_menu .mobile_menu-dep1 {}
#mobile_menu .mobile_menu-dep1 > li {}
#mobile_menu .mobile_menu-dep1 > li > a {display: block; position: relative; font-size: 18px; font-weight: 700; color: #fff;}
#mobile_menu .mobile_menu-dep1 > li > a:after {content: ""; display: block; position: absolute; top: 6px; right: 10px; z-index: 5; width: 12px; height: 7px; background: url('/source/img/arrow-down-white.png') no-repeat center/contain;}
#mobile_menu .mobile_menu-dep1.act  > li > a:after {background: url('/source/img/arrow-up-white.png') no-repeat center/contain;}

#mobile_menu .mobile_menu-dep2 {display: none; margin-top: 10px; padding: 10px 20px; background-color: #292929;}
#mobile_menu .mobile_menu-dep2 > li {}
#mobile_menu .mobile_menu-dep2 > li > a {display: block; padding: 5px 0; font-size: 16px; font-weight: 500; color: #bbb; transition: 0.3s;}

#mobile_menu .mobile_menu-dep3 {padding-bottom: 5px;}
#mobile_menu .mobile_menu-dep3 > li {}
#mobile_menu .mobile_menu-dep3 > li > a {display: block; position: relative; padding: 7px 0 7px 15px; font-size: 14px; font-weight: 400; color: #bbb; transition: 0.3s;}
#mobile_menu .mobile_menu-dep3 > li > a:before {content: ""; display: block; position: absolute; top: 14px; left: 5px; z-index: 1; width: 3px; height: 3px; border-radius: 50%; background-color: #bbb; transition: 0.3s;}

#mobile_menu .mobile_menu-dep2 > li:hover > a {color: var(--sub-color1);}
#mobile_menu .mobile_menu-dep3 > li:hover > a {color: var(--sub-color1);}
#mobile_menu .mobile_menu-dep3 > li:hover > a:before {background-color: var(--sub-color1);}

@media screen and (max-width:1600px){

} /* End meaia 1600 */

@media screen and (max-width:1290px){
  #hd_top-inner .gnb-dep1 {gap: 0 50px;}
  #hd_top-inner .gnb-dep1 > li > a {font-size: 18px;}
  #hd_top-inner .gnb-dep2 > li > a {font-size: 18px;}

  #all_menu .all_menu-nav {padding-left: 20px;}
  #all_menu .all_menu-dep1 > li > a {font-size: 24px;}
  #all_menu .all_menu-dep2 > li > a {font-size: 18px;}
} /* End meaia 1290 */

@media screen and (max-width:1023px){
  .gnb {display: none !important;}
  #hd_top-inner .all_menu-btn {display: none;}
  #hd_top-inner .mobile_menu-btn {display: block;}
} /* End meaia 1024 */

@media screen and (max-width:767px){
  #hd_top-inner {height: 60px;}
  #hd_top-inner .hd-logo {width: 130px;}
  #hd_top-inner .hd-sub {gap: 0 15px;}
  #hd_top-inner .lang-sel {height: 30px; line-height: 28px; padding-left: 10px; padding-right: 25px; font-size: 12px;}
  #hd_top-inner .lang-sel:after {width: 10px; height: 6px; right: 10px;}
  #hd_top-inner .lang-sel .current {font-size: 12px;}
  #hd_top-inner .lang-sel .option {height: 30px; line-height: 28px;}
} /* End meaia 767 */