#header {position: fixed; top: 0; left: 0; z-index: 500; width: 100%; border-bottom: 1px solid #ddd; background-color: #fff;}
#hd_top-inner {position: relative; z-index: 50; height: 100px;}
#hd_top-inner {display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between;}
#hd_top-inner .hd-logo {width: 178px;}

#hd_top-inner .gnb {position: absolute; top: 50%; left: 50%; z-index: 10; transform: translate(-50%, -50%);}
#hd_top-inner .gnb-dep1 {display: flex; flex-flow: row wrap; align-items: center; justify-content: center; gap: 0 100px;}
#hd_top-inner .gnb-dep1 > li {position: relative;}
#hd_top-inner .gnb-dep1 > li > a {display: block; font-size: 20px; font-weight: 500; color: #0f0f0f; line-height: 100px;}

#hd_top-inner .gnb-dep2 {position: absolute; top: 101px; left: -34px; z-index: 100; min-width: 190px; padding: 17px 30px 17px 34px; border-radius: 0 0 10px 10px; background-color: #f9f9f9; overflow: hidden; opacity: 0; visibility: hidden; transition: 0.3s;}
#hd_top-inner .gnb-dep2 > li {}
#hd_top-inner .gnb-dep2 > li > a {display: block; font-size: 20px; font-weight: 400; color: #333; line-height: 2;}
#hd_top-inner .gnb-dep2 > li > a:hover {color: var(--sub-color1)}

#hd_top-inner .gnb-dep1 > li:hover .gnb-dep2 {opacity: 1; visibility: visible;}

#hd_top-inner .hd-sub {display: flex; flex-flow: row wrap; align-items: center; justify-content: center; gap: 0 27px;}
#hd_top-inner .lang-sel {height: 40px; padding-left: 14px; padding-right: 30px; background-color: #333;}
#hd_top-inner .lang-sel:after {width: 7px; height: 7px; margin-top: -4.5px; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
#hd_top-inner .lang-sel .current {font-size: 16px; font-weight: 400; color: #fff;}
#hd_top-inner .all_menu-btn {display: block; position: relative; width: 23px; height: 20px; border: 0; background: none; font-size: 0; text-align: right;}
#hd_top-inner .all_menu-btn span {display: inline-block; height: 2px; background-color: #222; transition: 0.3s;}
#hd_top-inner .all_menu-btn span:nth-child(1) {width: 100%;}
#hd_top-inner .all_menu-btn span:nth-child(2) {width: calc(100% - 6px); margin: 6px 0;}
#hd_top-inner .all_menu-btn span:nth-child(3) {width: 100%;}

#header.act {border: 0; background-color: #333;}
#header.act .gnb {display: none;}

#hd_top-inner .all_menu-btn.act span {background-color: #fff;}
#hd_top-inner .all_menu-btn.act span:nth-child(1) {transform: rotate(45deg) translate3d(1px, 2px, 0);}
#hd_top-inner .all_menu-btn.act span:nth-child(3) {transform: rotate(-45deg) translate3d(-0.5px, -0.5px, 0);}
#hd_top-inner .all_menu-btn.act span:nth-child(2) {display: none;}